Description

This notebook is a demo

In [3]:
# The code was removed by Watson Studio for sharing.

,DOB,first_name,last_name,email,gender,ip_address
0,2003,Brendis,Downie,bdownie0@shareasale.com,Male,140.211.193.35
1,1988,Gonzales,Bratty,gbratty1@ow.ly,Male,179.77.133.38
2,2009,Modesta,Featherstonhaugh,mfeatherstonhaugh2@bravesites.com,Female,21.135.125.5
3,2001,Edvard,Lyne,elyne3@blinklist.com,Male,145.171.77.62
4,1985,Jessy,Gadsby,jgadsby4@ning.com,Female,155.84.28.5